@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 210 20% 98%;
    --foreground: 213 31% 12%;

    --card: 0 0% 100%;
    --card-foreground: 213 31% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 213 31% 12%;

    --primary: 213 94% 68%;
    --primary-foreground: 213 31% 12%;

    --secondary: 213 27% 84%;
    --secondary-foreground: 213 31% 12%;

    --muted: 213 27% 94%;
    --muted-foreground: 213 19% 46%;

    --accent: 142 76% 73%;
    --accent-foreground: 213 31% 12%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 213 27% 84%;
    --input: 213 27% 84%;
    --ring: 213 94% 68%;

    --radius: 0.5rem;

    --sidebar-background: 213 31% 12%;
    --sidebar-foreground: 213 27% 94%;
    --sidebar-primary: 213 94% 68%;
    --sidebar-primary-foreground: 213 31% 12%;
    --sidebar-accent: 213 31% 20%;
    --sidebar-accent-foreground: 213 27% 94%;
    --sidebar-border: 213 31% 20%;
    --sidebar-ring: 213 94% 68%;
  }

  .dark {
    --background: 213 31% 9%;
    --foreground: 213 27% 94%;

    --card: 213 31% 12%;
    --card-foreground: 213 27% 94%;

    --popover: 213 31% 12%;
    --popover-foreground: 213 27% 94%;

    --primary: 213 94% 68%;
    --primary-foreground: 213 31% 12%;

    --secondary: 213 31% 16%;
    --secondary-foreground: 213 27% 94%;

    --muted: 213 31% 16%;
    --muted-foreground: 213 19% 65%;

    --accent: 142 76% 73%;
    --accent-foreground: 213 31% 12%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 213 27% 94%;

    --border: 213 31% 16%;
    --input: 213 31% 16%;
    --ring: 213 94% 68%;
    --sidebar-background: 213 31% 6%;
    --sidebar-foreground: 213 27% 94%;
    --sidebar-primary: 213 94% 68%;
    --sidebar-primary-foreground: 213 31% 12%;
    --sidebar-accent: 213 31% 12%;
    --sidebar-accent-foreground: 213 27% 94%;
    --sidebar-border: 213 31% 12%;
    --sidebar-ring: 213 94% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
